Hotels.xsd

<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns="https://brandonlehman22.github.io/Assignment4" 
	targetNamespace="https://brandonlehman22.github.io/Assignment4" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	
	<xsd:annotation>
		<xsd:documentation xml:lang="en"> Assignment4 </xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="Hotels" type="HotelType"/>
	<xsd:complexType name="HotelType">
		<xsd:sequence>
			<xsd:element name="Hotel" type="HotelDetails" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HotelDetails">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Address" type="AddressDetails" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Rating" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AddressDetails">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string" minOccurs="1" maxOccurs="2"/>
			<xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Zip" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="NearestAirport" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}\-\d{3} \d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>








